.formacao {
  background: #e3e4e4;
  color: #242833;
}

.formacao-container {
  max-width: 1200px;
  padding: 120px 20px;
  margin: 0 auto;
  display: grid;
  grid-template-columns: 1fr 2fr;
  position: relative;
}

.formacao-container::after {
  content: "";
  display: block;
  background: url(../img/Detalhe2.svg) no-repeat center center;
  width: 95px;
  height: 71px;
  position: absolute;
  bottom: -34px;
}

.formacao .subtitulo {
  color: rgba(126, 131, 140, 0.41);
  max-width: 5ch;
}

.formacao-texto {
  font-size: 1.5rem;
  line-height: 1.33;
  margin-bottom: 60px;
  max-width: 40ch;
  color: #242833;
}

.formacao-textos strong {
  color: #0b0c12;
}

.curso-lista {
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
  margin-bottom: 60px;
}

.curso {
  flex: 1;
  background: #d9d9d9;
  padding: 20px;
  border-radius: 8px;
  border: solid 1px #7e837c;
  display: flex;
  flex-direction: column;
  margin-bottom: 60px;
}

.curso-tipo {
  font-size: 0.875rem;
  text-transform: uppercase;
  color: #363b47;
  margin-bottom: 10px;
}

.curso-nome {
  font-size: 1.125rem;
  font-weight: 700;
  color: #000;
  line-height: 1.4rem;
  margin-bottom: 20px;
  position: relative;
  flex: 1;
}

.curso-nome::before {
  content: "";
  display: block;
  background: linear-gradient(180deg, #00fff0, #28c7bd);
  width: 4px;
  height: 20px;
  position: absolute;
  left: -25px;
}

.curso-hora {
  font-size: 0.875rem;
  color: #363b47;
  margin-bottom: 10px;
}

.curso-instituicao {
  font-size: 0.875rem;
  text-transform: uppercase;
  color: #363b47;
}

.origami1 {
  position: relative;
}

.origami1::before {
  content: "";
  display: block;
  background: url(/img/origami.svg) no-repeat center center;
  width: 15px;
  height: 20px;
  position: absolute;
  left: 70px;
  top: -1px;
}

.origami2 {
  position: relative;
}

.origami2::before {
  content: "";
  display: block;
  background: url(/img/origami.svg) no-repeat center center;
  width: 15px;
  height: 20px;
  position: absolute;
  left: 70px;
  top: -1px;
}
.cursoemvideo {
  position: relative;
}

.cursoemvideo::before {
  content: "";
  display: block;
  background: url(/img/cursoemvideo.svg) no-repeat center center;
  width: 19px;
  height: 19px;
  position: absolute;
  left: 110px;
  top: -1px;
}

/* FORMAÇAOEXTRA */

.formacao-extra h3 {
  font-size: 0.875rem;
  color: #7e838c;
  font-weight: 700;
  line-height: 1.25rem;
  text-transform: uppercase;
  margin-bottom: 30px;
  position: relative;
}

.formacao-extra h3::before {
  content: "";
  display: block;
  background: url(/img/cursos.svg) no-repeat center center;
  width: 24px;
  height: 24px;
  position: absolute;
  left: -36px;
  top: -5px;
}

.cursos h3::before {
  background: url(/img/cursos.svg) no-repeat center center;
}
.idiomas h3::before {
  background: url(/img/idioma.png) no-repeat center center;
}

.formacao-extra li {
  font-size: 1.125rem;
  line-height: 1.75rem;
  font-weight: 400;
  color: #0b0c12;
  text-transform: capitalize;
  margin-bottom: 20px;
}

.formacao-extra span {
  color: #0b0c12;
}

.cursos li {
  display: flex;
  justify-content: space-between;
}

.grid-broken {
  justify-content: initial;
}

.formacao-extra span {
  color: #636973;
}

@media (max-width: 700px) {
  .formacao-container {
    grid-template-columns: 1fr;
    padding: 60px 20px;
    gap: 40px;
  }

  .formacao .subtitulo {
    color: #000;
  }
  .formacao-texto {
    font-size: 1.25rem;
  }
  .formacao-extra h3::before {
    position: initial;
    margin-bottom: 10px;
  }
}
